In [7]:
# lire un fichier avec pandas

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("data.csv")
# csv c'est des valeurs separ√©e par des virgules

In [5]:
print(df)

       id        date first_name   last_name                       email  \
0       1  03/28/2021    Marylin      Alders        malders0@shop-pro.jp
1       2  03/19/2021      Hinda    Harridge          hharridge1@gnu.org
2       3  03/17/2021        Erl  Kilminster       ekilminster2@etsy.com
3       4  03/19/2021      Grata      Brantl            gbrantl3@umn.edu
4       5  03/24/2021      Kanya     Beasant         kbeasant4@jigsy.com
..    ...         ...        ...         ...                         ...
995   996  03/24/2021       Duff      Errigo        derrigorn@elpais.com
996   997  03/17/2021        Ame     Rastall       arastallro@toplist.cz
997   998  03/13/2021      Betty    Stickels  bstickelsrp@cloudflare.com
998   999  03/17/2021    Paquito       Tesoe      ptesoerq@rakuten.co.jp
999  1000  03/23/2021   Rochelle    Pringuer       rpringuerrr@house.gov

     gender       ip_address        country price_paid   tax
0      Male    160.119.8.119         Canada      $5.36   NaN
1    Female   210.51.172.132         Canada      $8.32   NaN
2      Male    213.8.101.145  United States      $3.73  20.0
3    Female    5.140.237.101  United States      $3.70  20.0
4      Male  106.252.162.233        Morocco      $9.24  20.0
..      ...              ...            ...        ...   ...
995  Female   193.84.247.144         France      $3.63   NaN
996  Female   188.219.12.109            NaN      $4.59  20.0
997    Male     199.80.60.87  United States      $7.54  20.0
998    Male      0.183.63.11  United States      $5.81   NaN
999     NaN   170.193.249.83         Canada      $8.01  20.0

[1000 rows x 10 columns]